{{!Begin Menu Item}}
<li class="active">
	<a href="{{@blog.url}}"> <!--Keep href="{{@blog.url}}" for home page-->
		<i class="fa fa-home"></i> Home <!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/about/"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/about/-->
		<i class="fa fa-info"></i> About<!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/team-members/"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/about/-->
		<i class="fa fa-user"></i> Team Members<!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/tag/album"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/resume/-->
		<i class="fa fa-picture-o"></i> Photos <!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/store/"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/resume/-->
		<i class="fa fa-shopping-cart"></i> Team Apparel <!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}

{{!Create your next Menu Item}}