{{!< default}}
{{#post}}
{{>intro/post}}
<div class="main-wrap">	    
	<main class="body-content" role="main">
	    <div class="post-content">
	    	{{#isPhotoAlbum}}
	    		{{>album/album}}
	    	{{else}}
	    	{{#isMembersPage}}
				{{>members/members}}
	    	{{else}}
	    	{{content}}
	    	<div class="share-box">
				<div class="box-title-wrap">
					<h3 class="box-title">Thanks for reading!</h3>
				</div>
			    <span class="box-sub-title">Don't forget to spread the word:</span>
			    <ul class="social">
			        <li class="twitter">
			            <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share this post via Twitter">
			                <i class="fa fa-twitter"></i>
			            </a>
			        </li>
			        <li class="facebook">
			            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share this post via Facebook">
			                <i class="fa fa-facebook"></i>
			            </a>
			        </li>
			        <li class="google">
			            <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share this post via Google">
			                <i class="fa fa-google-plus"></i>
			            </a>
			        </li>
			        <li class="linkedin">
			            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{title}}" target="_blank" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" title="Share this post via Linkedin">
			                <i class="fa fa-linkedin"></i>
			            </a>
			        </li>
			    </ul>				
			</div>			
	    	{{#author}}	
			<footer class="post-footer clearfix">              	            
                <div  itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-author">
                    {{#if image}}                    
                    <div class="avatar">
                        <img class="img-reponsive" itemprop="image" src="{{image}}" alt="{{name}}" />
                    </div>
                    {{/if}}
                    <div class="post-author-content">
	                    <h4 class="author-name">
	                    	Written by <a href="{{url}}" itemprop="url" class="post-author-name"><span itemprop="name">{{name}}</span></a>
	                    </h4>	                    
	                    <div class="author-info">
	                    	{{#if location}}<i class="fa fa-home"></i> <span>{{location}}</span>{{/if}}
	                    	{{#if website}}<i class="fa fa-globe"></i> <a href="{{website}}">{{website}}</a>{{/if}}
	                    </div>	                                        
	                    <p itemprop="description">
	                    	{{#if bio}}
	                        	{{bio}}
	                        {{else}}
	                        	The author didnt add any Information to his profile yet
	                        {{/if}}                    	
	                    </p>
                    </div>
                </div>	            
	        </footer>
	        {{/author}}	
	        <div class="next-prev-posts clearfix" data-current-url="{{url absolute="true"}}">
				<div class="next-wrap">
					<a class="next" href="">
						<span>Next Post</span>
						<h4></h4>
					</a>			
				</div>
				<div class="prev-wrap">
					<a class="prev" href="">
						<span>Previous Post</span>
						<h4></h4>
					</a>			
				</div>
			</div>
			{{/isMembersPage}}
	    	{{/isPhotoAlbum}}

	    </div>
	    <div itemprop="comment" class="comment-box">
			{{>comment/comment}}
		</div>
	</main>
	{{>sidebar/no-nav}}
	<br class="clearfix"/>	
</div>
{{/post}}